<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/util
		http://www.springframework.org/schema/util/spring-util-3.0.xsd"
	default-autowire="byName">

	<aop:aspectj-autoproxy />
	<!-- 启用spring mvc 注解 -->

	<context:annotation-config />
	<context:component-scan base-package="com.xzc.blog" />

	<mvc:annotation-driven/>


	<!--<bean class="org.springframework.web.servlet.mvc.annotation.jsonHttpMessageConverter">-->
		<!--<property name="messageConverters">-->
			<!--<util:list id="beanList">-->
				<!--<ref bean="stringHttpMessageConverter" />-->
				<!--<ref bean="jsonHttpMessageConverter" />-->
			<!--</util:list>-->
		<!--</property>-->
	<!--</bean>-->

	<bean id="stringHttpMessageConverter" class="org.springframework.http.converter.StringHttpMessageConverter">
		<constructor-arg value="UTF-8" index="0"></constructor-arg>
		<property name="supportedMediaTypes">
			<list>
				<value>text/plain;charset=UTF-8</value>
				<value>text/html;charset=UTF-8</value>
			</list>
		</property>
	</bean>




	<!-- 属性文件读入 -->
	<bean id="propertyPlaceholderConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:prop/*.properties</value>
				<value>classpath:*.properties</value>
			</list>
		</property>
	</bean>

	<bean id="propertyConfigurer" class="com.xzc.blog.common.util.ConfigProperties">
		<property name="locations">
			<list>
				<value>classpath:prop/*.properties</value>
			</list>
		</property>
	</bean>

	<!--工程任意地方获取spring容器工具类-->
	<bean id="springContextUtil" class="com.xzc.blog.common.util.SpringContextUtil"></bean>


	<import resource="classpath:spring/spring*.xml" />

</beans>
